= simple_form_for @user, url: password_reset_path(@token), html: { method: :put } do |f|
  = f.input :email, as: :email
  = f.input :password, as: :password
  = f.input :password_confirmation, as: :password
  = f.submit
