= simple_form_for @user, url: password_reset_path(@token), defaults: { { input_html: 'form-control' } } do |f|
  .form-group
    = f.input :email, as: :email
  .form-group
    = f.input :password, as: :password
  .form-group
    = f.input :password_confirmation, as: :password
  .form-group
    = f.button :submit, class: 'btn btn-default'
