= simple_form_for @user, defaults: { input_html: { class: 'form-control' } } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        #{ pluralize(@user.errors.count, "error") } prohibited
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          = msg

  .form-group
    = f.input :email, as: :email
  .form-group
    = f.input :password, as: :password
  .form-group
    = f.input :password_confirmation, as: :password
  .form-group
    = f.button :submit, class: 'btn btn-default'
