.row
  %article.col-md-12
    %header
      %h1
        = @post.title
    %section
      = markdown @post.body

%post-rating-buttons( post = "#{@post_json_data}")

%post-favorite-button( post = "#{@post_json_data}" )

%hr
%comment-box( post-id = "#{@post.id}" )
