.row
  %article.col-md-12
    %header
      %h1
        = @post.post_version.title
    %section
      = markdown @post.post_version.body

%hr
.row
  %post-rating-buttons( post = "#{@post_json_data}" )
  %post-favorite-button( post = "#{@post_json_data}" )

%hr
%comment-box( post-id = "#{@post.id}" )
