.row
  %article.col-md-12
    %header
      %h1
        = @post.title
    %section
      = markdown @post.body

-# TODO: MOVE this post methods to serializer
%post-rating-buttons( post = "#{@post.to_json}")

%post-favorite-button( post = "#{@post_json_data}" )

%hr
%comment-box( post-id = "#{@post.id}" )
