= render partial: 'vue_templates/comments/comment_box_tpl'
= render partial: 'vue_templates/comments/comment_list_tpl'
= render partial: 'vue_templates/comments/comment_notification_list_tpl'
= render partial: 'vue_templates/comments/comment_form_tpl'
= render partial: 'vue_templates/comments/comment_tpl'
= render partial: 'vue_templates/shared/post_favorite_button_tpl'
= render partial: 'vue_templates/shared/post_rating_buttons_tpl'
