!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Zvample
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default
        .navbar-header
          = link_to 'Zvample', root_url, class: 'navbar-brand'

        .collapse.navbar-collapse
          .nav.navbar-nav
            - if is_current_user_admin?
              %li
                = link_to 'Admin', admin_root_url

          .nav.navbar-nav.navbar-right.login-buttons
            - if current_user
              .navbar-text
                = current_user.email

              = link_to 'Edit', edit_user_path(current_user), class: 'btn btn-primary navbar-btn'
              = link_to 'Logout', :logout, method: :post, class: 'btn btn-danger navbar-btn'
            - else
              = link_to 'Login', :login, class: 'btn btn-success navbar-btn'
              = link_to 'Register', new_user_path, class: 'btn btn-default navbar-btn'

    .container
      = yield

    = render partial: '/vue_templates'
